{% include 'temp/head.html' %}
    {% include 'temp/header-temp.html' %}
        <div class="container content col-md-offset-1">
            {% if succ == "login" %}
                <div class="row">
                    <h2 class="success">{{ user.uName }} has been logged in!</h2>
                </div>
            {% endif %}
            {% if error == "passFail" %}
            <div class="row">
                <h2 class="warning">{{ user }} has not been logged in!</h2>
                <h4>Wrong password!</h4>
            </div>
            {% endif %}
            <div class="row">
                <img src="img/smoothie.png" id="smoothie" class="col-md-5">
                <p class="col-md-7" id="indexPara">
                    {% if curUser %}
                        Welcome to SmoothieWiz! You may now add to your list of ingredients on hand!
                    {% else %}
                        Welcome to SmoothieWiz! To begin, first <a href="/reg">register</a> for an account or login at the top!
                    {% endif %}
                </p>
            </div>
        </div>
    {% include 'temp/footer-temp.html' %}
{% include 'temp/end.html' %}
