<!DOCTYPE html>
<html lang="en">
{% autoescape true %}

<head>
    <meta charset="UTF-8">
    <link href="/styles/styles.css" type="text/css" rel="stylesheet" />
    <title>{{ curIng.ingName }}</title>
    <style>
        body {
            border-radius: 2em 2em 0em 0em;
            padding: 0.5em;
            padding-bottom: 15em;
        }
        #footer {
            position: relative;
            top: 15em;
            left: -15em;
            padding-top: 5em;
        }
    </style>
</head>

<body>
    {% include 'header.html' %}
    <h1>{{ curIng.ingName }}</h1>
    {% if curUser != None %}
        {% if check == False %}
            <form action="/unfav/{{curIng.ingName}}" method="post">
                <input type="submit" value="Remove From Your Ingredients">
            </form>
        {% else %}
            <form action="/ing/{{curIng.ingName}}" method="post">
                <input type="submit" value="Add To Your Ingredients">
            </form>
        {% endif %}
        <br>
    {% endif %}
    <div id="photo">
        <img src="{{curIng.imgPath}}" class="ingPhoto">
    </div>
    <div id="ingBox">
        <h2 class="noPad">Nutrition Facts</h2>
        <hr class="nutLine">
            <span class="factLabel">Type: </span>{{curIng.ingType}}
            <br>
        <span class="factLabel">Calories: </span> {{curIng.calories}}
        <br>
        <br>
        {% if curIng.vitA %}
            <span class="factLabel">Vitamin A: </span> {{curIng.vitA}}%
            <br>
        {% endif %}
        {% if curIng.vitC %}
            <span class="factLabel">Vitamin C: </span>{{curIng.vitC}}%
            <br>
        {% endif %}
        {% if curIng.vitD %}
            <span class="factLabel">Vitamin D: </span>{{curIng.vitD}}%
            <br>
        {% endif %}
        {% if curIng.vitE %}
            <span class="factLabel">Vitamin E: </span>{{curIng.vitE}}%
            <br>
        {% endif %}
        {% if curIng.vitB6 %}
            <span class="factLabel">Vitamin B6: </span>{{curIng.vitB6}}%
            <br>
        {% endif %}
        {% if curIng.vitB12 %}
            <span class="factLabel">Vitamin B12: </span>{{curIng.vitB12}}%
            <br>
        {% endif %}
        {% if curIng.vitK %}
            <span class="factLabel">Vitamin K: </span>{{curIng.vitK}}%
            <br>
        {% endif %}
        {% if curIng.calcium %}
            <span class="factLabel">Calcium: </span>{{curIng.calcium}}%
            <br>
        {% endif %}
        {% if curIng.iron %}
            <span class="factLabel">Iron: </span>{{curIng.iron}}%
            <br>
        {% endif %}
        {% if curIng.magnesium %}
            <span class="factLabel">Magnesium: </span>{{curIng.magnesium}}%
            <br>
        {% endif %}
        <br>
        {% if curIng.potassium %}
            <span class="factLabel">Potassium: </span>{{curIng.potassium}}mg
            <br>
        {% endif %}
        {% if curIng.totalFat %}
            <span class="factLabel">Total Fat: </span>{{curIng.totalFat}}g
            <br>
        {% endif %}
        {% if curIng.protein %}
            <span class="factLabel">Protein: </span>{{curIng.protein}}g
            <br>
        {% endif %}
        {% if curIng.sugars %}
            <span class="factLabel">Sugars: </span>{{curIng.sugars}}g
            <br>
        {% endif %}
        <!-- photo: {{curIng.photo}} -->
        <!-- photo_url: photo_url -->
        <!-- IDEA: Add "Recipes found in: " -->
    </div>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>

</html>
{% endautoescape %}
