{% include 'temp/head-broken.html' %}
    {% include 'temp/header-broken.html' %}
        <div class="container content">
            {% if succ == "genNutr" %}
            <div id="smoothieFacts" class="right">
                <h2>Smoothie Facts</h2>
                    <span class="factLabel">Total Calories:</span> {{cal}}
                    <br><hr class="part">
                    {% if vitA %}
                        <span class="factLabel">Vitamin A: </span> {{vitA}}%
                        <br>
                    {% endif %}
                    {% if vitC %}
                        <span class="factLabel">Vitamin C: </span>{{vitC}}%
                        <br>
                    {% endif %}
                    {% if vitD %}
                        <span class="factLabel">Vitamin D: </span>{{vitD}}%
                        <br>
                    {% endif %}
                    {% if vitE %}
                        <span class="factLabel">Vitamin E: </span>{{vitE}}%
                        <br>
                    {% endif %}
                    {% if vitB6 %}
                        <span class="factLabel">Vitamin B6: </span>{{vitB6}}%
                        <br>
                    {% endif %}
                    {% if vitB12 %}
                        <span class="factLabel">Vitamin B12: </span>{{vitB12}}%
                        <br>
                    {% endif %}
                    {% if vitK %}
                        <span class="factLabel">Vitamin K: </span>{{vitK}}%
                        <br>
                    {% endif %}
                    {% if calcium %}
                        <span class="factLabel">Calcium: </span>{{calcium}}%
                        <br>
                    {% endif %}
                    {% if iron %}
                        <span class="factLabel">Iron: </span>{{iron}}%
                        <br>
                    {% endif %}
                    {% if magnesium %}
                        <span class="factLabel">Magnesium: </span>{{magnesium}}%
                        <br>
                    {% endif %}
                    <hr class="part">
                    {% if potassium %}
                        <span class="factLabel">Potassium: </span>{{potassium}}mg
                        <br>
                    {% endif %}
                    {% if totalFat %}
                        <span class="factLabel">Total Fat: </span>{{totalFat}}g
                        <br>
                    {% endif %}
                    {% if protein %}
                        <span class="factLabel">Protein: </span>{{protein}}g
                        <br>
                    {% endif %}
                    {% if sugars %}
                        <span class="factLabel">Sugars: </span>{{sugars}}g
                        <br>
                    {% endif %}
            </div>
            {% endif %}
            <div id="left">
                <h1>{{ curRec.rName }}</h1>
                {% for i in curRec.ings %}
                    <span class="success">Ingredient {{loop.index}}:</span> <a href="/ing/{{i.ingName}}">{{i.ingName}}</a><br>
                {% endfor %}
                {% if succ == "ingAdd" %}
                    <h4 class="success">{{curIng.ingName}} has been added to <a href="/rec/{{curRec.key.id()}}">{{curRec.rName}}</a>!</h4>
                {% endif %}
                {% if succ == "ingDel" %}
                    <h4 class="success">{{curIng.ingName}} has been removed from <a href="/rec/{{curRec.key.id()}}">{{curRec.rName}}</a>!</h4>
                {% endif %}
                <h3>Add Ingredient to Recipe</h3>
                <form action="/upd/{{curRec.key.id()}}" method="post">
                    <select id="recIng" name="recIng">
                        {% for i in ingList|sort(attribute="ingName") %}
                            <option value="{{i.ingName}}">{{i.ingName}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </form>
                <h3>Remove Ingredient from Recipe</h3>
                <form action="/del/{{curRec.key.id()}}" method="get">
                    <select name="recDel">
                        {% for i in curRec.ings|sort(attribute="ingName") %}
                            <option value="{{i.ingName}}">{{i.ingName}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    {% include 'temp/footer-temp.html' %}
{% include 'temp/end.html' %}
