<!DOCTYPE html>
<html lang="en">
{% autoescape true %}

<head>
    <meta charset="UTF-8">
    <link href="/styles/styles.css" type="text/css" rel="stylesheet" />
    <title>Ingredients</title>
</head>

<body>
    {% include 'header.html' %}
    {% if succ == "ingAdd" %}
        <h2 class="success">New ingredient {{curIng.ingName}} has been added!</h2>
        <h4>View your ingredient <a href="/ing/{{curIng.ingName}}">here</a></h4>
    {% endif %}
    <h1>Total Ingredients: <span class="success">{{ size }}</span></h1>

    <fieldset>
        <legend class="myLegends">Fruits</legend>
        <table>
            <tr>
            {% for i in ingList|sort(attribute="ingName") %} {% if loop.index0 is divisibleby 16 %}
                </tr>
                {% endif %}
                {% if i.ingType == "fruit" %}
                <td class="cell">
                    <a href="/ing/{{i.ingName}}">
                        <img src="{{i.imgPath}}" class="ingImg">
                        <br>{{ i.ingName }}</a>
                </td>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend class="myLegends">Vegetables</legend>
        <table>
            <tr>
            {% for i in ingList|sort(attribute="ingName") %}
                {% if loop.index0 is divisibleby 16 %}
                    </tr>
                {% endif %}
                {% if i.ingType == "veg" %}
                    <td class="cell">
                        <a href="/ing/{{i.ingName}}">
                            <img src="{{i.imgPath}}" class="ingImg">
                            <br>{{ i.ingName }}</a>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend class="myLegends">Other</legend>
        <table>
            <tr>
            {% for i in ingList|sort(attribute="ingName") %}
                {% if loop.index0 is divisibleby 16 %}
                    </tr>
                {% endif %}
                {% if i.ingType == "other" %}
                    <td class="cell">
                        <a href="/ing/{{i.ingName}}">
                            <img src="{{i.imgPath}}" class="ingImg">
                            <br>{{ i.ingName }}</a>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
        </table>
    </fieldset>
    {% include 'footer.html' %}
</body>

</html>
{% endautoescape %}
