<!DOCTYPE html>
<html lang="en">
{% autoescape true %}

<head>
    <meta charset="UTF-8">
    <link href="/styles/styles.css" type="text/css" rel="stylesheet" />
    <title>New Ingredient</title>
</head>

<body>
    {% include 'header.html' %}
    {% if error == "ingDup" %}
        <h2 class="warning">{{ curIng.ingName }} has not been created!</h2>
        <h4>Ingredient already exists.</h4>
    {% endif %}
    {% if curUser %}
    <form action="/newIng" method="post">
        <fieldset>
            <legend>
                <h1>Add New Ingredient</h1>
            </legend>
            <label for="name">Ingredient Name: </label>
            <input type="text" id="name" name="name" placeholder="IngName" required>
            <br>
            <label for="calories">Calories: </label>
            <input type="text" id="calories" name="calories" placeholder="0">
            <br>
            <label for="type">Ingredient Type: </label>
            <select id="type" name="type">
                <option value="fruit" required>Fruit</option>
                <option value="veg" required>Vegetable</option>
                <option value="other" required>Other</option>
            </select>
            <hr>
            <h2 class="noPad">Daily Percentages</h2>
            <label for="vitA">Vitamin A : </label>
            <input type="text" id="vitA" name="vitA" placeholder="0">
            <br>
            <label for="vitB">Vitamin B6: </label>
            <input type="text" id="vitB6" name="vitB6" placeholder="0">
            <br>
            <label for="vitC">Vitamin C: </label>
            <input type="text" id="vitC" name="vitC" placeholder="0">
            <br>
            <label for="vitD">Vitamin D: </label>
            <input type="text" id="vitD" name="vitD" placeholder="0">
            <br>
            <label for="vitE">Vitamin E: </label>
            <input type="text" id="vitE" name="vitE" placeholder="0">
            <br>
            <label for="vitB12">Vitamin B12: </label>
            <input type="text" id="vitB12" name="vitB12" placeholder="0">
            <br>
            <label for="vitK">Vitamin K: </label>
            <input type="text" id="vitK" name="vitK" placeholder="0">
            <br>
            <label for="calcium">Calcium: </label>
            <input type="text" id="calcium" name="calcium" placeholder="0">
            <br>
            <label for="iron">Iron: </label>
            <input type="text" id="iron" name="iron" placeholder="0">
            <br>
            <label for="magnesium">Magnesium: </label>
            <input type="text" id="magnesium" name="magnesium" placeholder="0">
            <hr>
            <h2 class="noPad">Other Nutrients</h2>
            <label for="potassium">Potassium (mg): </label>
            <input type="text" id="potassium" name="potassium" placeholder="0.0">
            <br>
            <label for="totalFat">Total Fat (g): </label>
            <input type="text" id="totalFat" name="totalFat" placeholder="0.0">
            <br>
            <label for="protein">Protein (g): </label>
            <input type="text" id="protein" name="protein" placeholder="0.0">
            <br>
            <label for="sugars">Sugars (g): </label>
            <input type="text" id="sugars" name="sugars" placeholder="0.0">
            <hr>
            <h3 class="noPad">Add a photo!</h3>
            <label for="photo_url">Photo URL: </label>
            <input type="text" id="photo_url" name="photo_url" placeholder="http://">
            <br>
            <!-- http://www.hage-international.com/media/1653/hage-avocado-vrijst.png -->
            <!-- <h3>*OR*</h3>
            <label for="photo">Photo <span class="note">(PNG ONLY)</span>: </label>
                <input type="file" id="photo" name="photo"><br><br> -->
            <input type="submit">
        </fieldset>
    </form>
    {% else %}
        <h2 class="warning">Please login before creating ingredients!</h2>
    {% endif %}
    {% include 'footer.html' %}
</body>

</html>
{% endautoescape %}
