<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/styles/styles.css" type="text/css" rel="stylesheet"/>
    <title>Recipes List</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Recipes</h1>
    {% if rList %}
        {% for r in rList %}
            Recipe {{loop.index}}: <a href="/rec/{{r.key.id()}}">{{r.rName}}</a><br>
        {% endfor %}
    {% else %}
        <h3 class="warning">No recipes found! Create a new recipe <a href="/newRec">here!</a></h3>
    {% endif %}
    {% include 'footer.html' %}
</body>
</html>
