html {
    width: 47em;
    height: 100%;
    margin: 0 auto;
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: honeydew;
    border-radius: 2em 2em 0em 0em;
    padding: 0.5em;
}
nav {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}
a {
    text-decoration: none;
    color: limegreen;
}
a:visited {
    text-decoration: none;
}
a:hover {
    -webkit-animation: rainbow 1s infinite;
    -ms-animation: rainbow 1s infinite;
    -o-animation: rainbow 1s infinite;
    animation: rainbow 1s infinite;
}
a:active {
    -webkit-animation: rainbow 1s infinite;
    -ms-animation: rainbow 1s infinite;
    -o-animation: rainbow 1s infinite;
    animation: rainbow 1s infinite;
}
#logo {
    width: 43em;
}
#container {
    width: 98%;
}
#userInfo {
    width: 16em;
    height: 6em;
    border: 2px solid grey;
    float: right;
    text-align: center;
    padding-top: 1em;
}
#ver {
    float: left;
    background-color: gold;
    padding: 0.9em;
    margin: 3em 3em 3em 3em;
}
#ingBox {
    background-color: white;
    width: 11em;
    float: left;
    text-align: right;
    border: 3px solid black;
    margin-left: 3.5em;
}
#photo {
    float: right;
}
#need {
    margin-bottom: 1em;
}
#footer {
    position: relative;
    top: 15em;
    left: -11.3em;
    padding-top: 1.7em;
}
#smoothie {
    width: 40%;
    margin-left: 1em;
}
#smoothieFacts {
    width: 14em;
    background-color: white;
    border: 3px solid black;
    margin-right: 3em;
    text-align: right;
}

#smoothieFacts h2, h6{
    text-align: center;
}
#indexPara {
    width: 45%;
}
.myLegends {
    text-align: center;
    font-size: 2em;
}
.warning {
    color: red;
    font-family: 'Lucida Console';
}
.success {
    color: darkgreen;
    font-family: 'Lucida Console';
}
.note {
    color: goldenrod;
}
.link {
    width: 100px;
    text-align: center;
    margin: 0 auto;
}
.ingImg {
    width: 3em;
}
.ingPhoto {
    width: 16em;
}
.noPad {
    padding: 0;
    margin: 0;
}
.boxLabel {
    font-weight: bold;
}
.factLabel {
    font-weight: bold;
}
.nutLine {
    border: 7px solid black;
    width: 9em;
}
.part {
    width: 12em;
}
.cell {
    width: 7em;
    text-align: center;
    margin: 0 auto;
}
.navLink {
    border: 2px solid green;
    padding: 6px;
    border-radius: 2em;
}

.left {
    float: left;
    width: 45%;
}
.right {
    float: right;
    width: 45%;
}

/*Rainbow Hover*/

.rainbow:hover {
    -webkit-animation: rainbow 1s infinite;
    -ms-animation: rainbow 1s infinite;
    -o-animation: rainbow 1s infinite;
    animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow {
    0% {
        color: #ff0000;
    }
    10% {
        color: #ff8000;
    }
    20% {
        color: #ffff00;
    }
    30% {
        color: #80ff00;
    }
    40% {
        color: #00ff00;
    }
    50% {
        color: #00ff80;
    }
    60% {
        color: #00ffff;
    }
    70% {
        color: #0080ff;
    }
    80% {
        color: #0000ff;
    }
    90% {
        color: #8000ff;
    }
    100% {
        color: #ff0080;
    }
}
@-ms-keyframes rainbow {
    0% {
        color: #ff0000;
    }
    10% {
        color: #ff8000;
    }
    20% {
        color: #ffff00;
    }
    30% {
        color: #80ff00;
    }
    40% {
        color: #00ff00;
    }
    50% {
        color: #00ff80;
    }
    60% {
        color: #00ffff;
    }
    70% {
        color: #0080ff;
    }
    80% {
        color: #0000ff;
    }
    90% {
        color: #8000ff;
    }
    100% {
        color: #ff0080;
    }
}
@-o-keyframes rainbow {
    0% {
        color: #ff0000;
    }
    10% {
        color: #ff8000;
    }
    20% {
        color: #ffff00;
    }
    30% {
        color: #80ff00;
    }
    40% {
        color: #00ff00;
    }
    50% {
        color: #00ff80;
    }
    60% {
        color: #00ffff;
    }
    70% {
        color: #0080ff;
    }
    80% {
        color: #0000ff;
    }
    90% {
        color: #8000ff;
    }
    100% {
        color: #ff0080;
    }
}
@keyframes rainbow {
    0% {
        color: #ff0000;
    }
    10% {
        color: #ff8000;
    }
    20% {
        color: #ffff00;
    }
    30% {
        color: #80ff00;
    }
    40% {
        color: #00ff00;
    }
    50% {
        color: #00ff80;
    }
    60% {
        color: #00ffff;
    }
    70% {
        color: #0080ff;
    }
    80% {
        color: #0000ff;
    }
    90% {
        color: #8000ff;
    }
    100% {
        color: #ff0080;
    }
}
